<div class="container">
    <ul class="list-inline mb-5">
        <li class="list-inline-item">
            <a href="#">Primeiro link</a>
        </li>
        <li class="list-inline-item">
            <a href="#">Segundo link</a>
        </li>
        <li class="list-inline-item">
            <a href="#">Terceiro link</a>
        </li>
    </ul>
    <p class="mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque asperiores veniam non beatae neque ipsa at dignissimos, similique quidem ea aliquam quisquam eius minus explicabo illo assumenda amet illum qui?</p>
    <p class="mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque asperiores veniam non beatae neque ipsa at dignissimos, similique quidem ea aliquam quisquam eius minus explicabo illo assumenda amet illum qui?</p>
    <p class="mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque asperiores veniam non beatae neque ipsa at dignissimos, similique quidem ea aliquam quisquam eius minus explicabo illo assumenda amet illum qui?</p>
</div>